.gradle/
.kotlin/
.idea/
.vscode/
local.properties
**/build/
captures/
*.iml
*.hprof
*.log
*.tmp
.DS_Store
app/release/
art/working/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.jks
*.keystore
keystore.properties
